# CSV Files
hc_emails.csv
hc_emails_copy.csv
hc_emails_original.csv

# JSON Files
addresses.json
apppassword.json
info.json
mail_by_user.json
quarantined_mail.json
smtp_settings.json

# Text Files
addresses.txt
email_summary.txt

# Cache Files
__pycache__